.main-layout {
  display: flex;
  height: calc(100vh - 2.5rem);
  width: 100%;
  background-image: url('/static/img/backgrounds/background-1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    height: calc(100vh - 3rem);
  }

  &.desktop--blur {
    filter: blur(0.1rem);
    transition: filter 0.3s ease-in-out;

    &:hover {
      filter: blur(0);
    }
  }
}
