.booting {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  // background-color: #e81000;
  background-color: var(--windowDarkGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.finish {
    animation: finish 1s ease-in 1s forwards;
  }

  @keyframes finish {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 0;
      width: 100vw;
      height: 100vh;
    }
    100% {
      opacity: 0;
      display: none;
      width: 0;
      height: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 4rem;

    &__icon {
      width: 4rem;
      // margin-left: -4rem;
    }
    &__label {
      font-size: 1rem;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
    }
  }
}
